NODE_ENV=development
PORT=5000
APP_ORIGIN=http://localhost:5173
DATABASE_URL=postgresql://postgres:letsmove11!A@db.hrsmzpezxnyybfwkfyet.supabase.co:5432/postgres
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
COOKIE_SECURE=false
CLOUDINARY_CLOUD_NAME=dr5mihxig
CLOUDINARY_API_KEY=992166759391848
CLOUDINARY_API_SECRET=rAd_59shK2LkrgJTwNWWfxcFiEQ
